<div class="container" id="home1">
  <nav id="navbar" class="navbar navbar-light shadow p-3 mb-5 bg-body rounded">
    <img class="img1" src="../assets/logo.svg">
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="mr-4" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="mr-4" routerLink="signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="mr-4" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="mr-4" routerLink="utenti">Utenti</a>
        </li>
        <li class="nav-item">
          <a class="mr-4" routerLink="clienti">Clienti</a>
        </li>
        <li class="nav-item">
          <a routerLink="fatture">Fatture</a>
        </li>
    </ul>
  </nav>
  <div>
    <!-- Qui viene renderizzato il componente chiamato tramite Router -->
    <router-outlet></router-outlet>
  </div>
</div>