<div class="container">
    <div class="mt-3" id="home">
        <h1 id="title">{{title}}</h1>
        <h2>Front End Developer - Epicode 2021</h2>
        <div id="ben" class="mt-5">
            <h3>Benvenuto!</h3>
            <p>
                Sei un nuovo utente? Registrati su<br> <a routerLink="signup"><b>"Signup"</b></a><br>
                Se sei un nostro cliente , vai al tuo<br> <a routerLink="login"><b>"Login"</b></a>
            </p>
        </div>
    </div>
    <video autoplay muted loop id="myVideo">
        <source src="assets/Pexels Videos 2625.mp4" type="video/mp4">
    </video>
</div>